body {
	background-color: #99ccff;
}

ul#nav-bar {
	background-color: #262626;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li#nav-list {
	color: white;
	font-family: 'Barlow';
	font-size: 22px;
}

h1 {
	color: #FFFFFF;
}

p { 
	color: red;
}