body {
	background-color: #99ccff;
}

ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-color: #262626;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
	color: white;
	font-family: 'Barlow';
	font-size: 22px;
}

li a:hover {
  background-color: #111;
}

h1 {
	color: #FFFFFF;
}

p { 
	color: red;
}